:root {
  --main-purple: #6712ED;
  --secondary-purple: #8541F1;
  --dark-grey: rgb(46, 46, 46);
}
html {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
